upstream {{ app_name }} {
{% for web_server in groups['web_servers']  %}
	server {{ web_servers }}:{{ web_server_port }};
{% endfor %}
}

server {
	listen 80;

	location / {
		proxy_pass http://{{ app_name }};
	}
}
